.InputTodo {
  text-align: center;
}
.InputTodo i {
  border: solid #E5E5E5;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.InputTodo  {
  margin: 0 auto;
  height: 60px;
  width: 400px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px #888888;
  caret-color: #888888;
  font-size: 32px;
  background-color: #FEFEFE;
  border-radius: 2rem;
}

.InputTodo input {
  width: 80%;
  height: 55px;
outline: none !important;
  font-size: 28px;
  text-align: center;

}

.InputTodo input:focus {
    outline: none !important;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: #888888;
}
:-moz-placeholder {
  font-style: italic;
  color: #888888;
}
::-moz-placeholder {
  font-style: italic;
  color: #888888;
}
:-ms-input-placeholder {
  font-style: italic;
  color: #888888;
}
