.Todo {
    text-align: left;
    margin: 0 auto;
    height: 60px;
    width: 400px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px #888888;
    caret-color: #888888;
    font-size: 32px;
    background-color: #FEFEFE;
    color :#5B5B5B;
}

.Todo .List{
    margin-top : 13px;
    margin-left : 13px;
}

.Todo:hover  #btn-remove {
    display: block !important;

}

 .transparent-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}